*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    width: 100%;
    height: 100vh;

    background-color: antiquewhite;
}

.container{
    width: 650px;
    height: 100vh;

    background-image: url('img/bg.JPG');
    background-size: cover;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 250px;
    height: 80px;

    /* background-color: red; */

    position: relative;
}

.box input{
    width: 100%;
    height: 30px;

    padding: 10px;

    border: none;
    border-radius: 8px;
    outline: none;

    box-shadow: 4px 5px 5px rgba(0,0,0,0.5);

    letter-spacing: 2px;
}

.clone{
    position: absolute;
    top:8px;
    right: 10px;

    cursor: pointer;

    opacity: 0.2;
}

.clone:hover{
    opacity: 1;
}

.random{
    margin: 5px;
    padding: 5px 10px;

    border: 1px solid black;

    display: inline-block;

    cursor: pointer;
}

.random:active{
    background-color: gray;
}